*{
  font-family: 'Roboto Mono', monospace;
  color: #2F4F4F;
}

.canvasDesign{
  border: 1px solid pink;
  margin-top: 20px;
  background-color: #51c4e0;
}

body{
  text-align: center;
  background-image: url("../images/webBackground.png");
  background-size: cover;
  background-repeat: no-repeat;

}
body button {
  font-size: 20px;
  background-color: #3dc4fd;
  color: #fff;
  padding: 10px 20px;
  margin: 25px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
}
header{
  display: flex;
  justify-content: center;
}
header img{
  height: 200px
}
#title{
    height: 50px;
    width: 100%;
}
#game{
  display: flex;
  justify-content: space-between;
  height: 180px;
}
#game > div{
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  margin: 0px 60px;
  padding: 10px;
  width: 200px;
}
#clasification h1{
  margin: 1px;
  font-size: 27px;
}
#firstPosition h1{
  margin: 1px;
  font-size: 30px;

}
#firstPosition img{
  transform: rotate(180deg);
  height: 100px;
  width: auto;
  padding: 10px;
}
